body {
  font-size: 22px;
  background-color: #3a424b;
  padding: 5px;
}

p {
  color: #ffffff;
  font-size: 30px;
  font-size: 18px;
}

h1,
h2 {
  color: #fbfefe;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  color: #ffffff;
  margin: 3px;
}

p span {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  color: #05054b;
}
.headline {
  color: #64bfdd;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
