body {
  background-color: black;
}

body {
  color: aliceblue;
}

h1 {
  color: aliceblue;
}

p {
  color: white;
  background-color: cornflowerblue;
}

#p3 {
  background-color: red;
  color: azure;
}
